body {
  background: rgb(243, 243, 243);
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

p {
  margin: 0px;
}

.header-logo{
    align-items: center;
    height: 100%
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.page-title {
  font-family: "Birthstone Bounce", cursive;
  font-size: 40px;
  font-weight: normal;
  height: 60px;
  padding-top: 7px;
  padding-inline: 20px;
  border-left: 1px solid black;
}

.header-img {
  display: block;
  padding-inline: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.usr-img {
  display: block;
  padding-inline: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.like-img {
  display: block;
  width: 120px;
  height: 80px;
}

.light-font {
  color: lightgrey;
}

.bold-font {
  font-weight: bold;
}

.bold-black-font {
  font-weight: bold;
  color: black;
  margin: 0px;
}

#dias {
  padding-right: 20px;
}

.usr-img-s {
  display: block;
  padding-inline: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Esto sirve para darle flex a los divs dentro del div con id header (en el caso de que se este manejando con blocks) */
#header > div {
  display: flex;
  flex-direction: flex;
}

.post-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

#header {
  background: white;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 400px;
  border-bottom: 1px solid lightgrey;
}

.main-section {
  width: 800px;
  margin: 50px auto;
  margin-top: 100px;
  background: white;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.post-owner {
  display: flex;
  flex-direction: flex;
  padding-top: 30px;
  padding-bottom: 10px;
}

.comment-section {
  display: flex;
  flex-direction: flex;
  padding-top: 10px;
}

.posts-section {
  width: 800px;
  margin: 50px auto;
  background: solid lightgray;
}

.post {
  width: 100%;
  height: 100%;
  background: white;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.post-header {
  margin: 0px;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post-comments {
  margin-inline: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid lightgrey;
}

.create-comment-likes {
  margin-inline: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.like-button {
  background: white;
  border: transparent;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

#comment-input {
  border: transparent;
  width: 100%;
  font-size: 22px;
}

#main-section-title {
  margin: 0;
  width: 100%;
  color: lightgrey;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

#entry-deets {
  display: flex;
  padding-inline: 10px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.user-header {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
}

.entry {
  display: flex;
  border-top: 1px solid lightgray;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

#user-name {
  margin: 0px;
  padding-top: 20px;
}

#full-name {
  margin: 0;
  padding-top: 5px;
}

.entry-button {
  background: #3897f0;
  color: white;
  font-weight: bold;
  border: transparent;
  margin: 10px;
  margin-right: 30px;
  border-radius: 2px;
  width: 90px;
  height: 40px;
  cursor: pointer;
}
